<% provide :title, t(".title") %>
 <h1><%= t ".title" %></h1>
	<input type="text" class="live-search-box" placeholder="search here" />
	<ul class="live-search-list">

	 <% @classrooms.each do |classroom| %>
    <li><%= link_to classroom.class_code, classroom %></li>
  <% end %>
	</ul>
