# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 34a62f111e63d028d72dafac734a766acd8452e1629f18b8758ea421e0e3ce698b605fc52a44438c7af373da47aa63cfb6f04805f22cf1816df4bd2c7dbb221b

test:
  secret_key_base: 20e50da6b16f57fbc25c32e2c7e6bc2b7359f405a205342daf6d4e9edb6ecfdb6f2d16e7f47ea73eb18905b9d449dec7338953a866249564f6bf87e03a852083

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
